
.footer .social-list {
    overflow: hidden;
    display: flex;
}

@media only screen and (max-width: 732px) {
    .Footer .social-list {
        display: list-item;
    }
}

.footer .social-list li {
    width: 33.3333%;
    float: left;
    padding: 5px 0;
    opacity: .7;
    filter: alpha(opacity=50);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

    .footer .social-list li:hover {
        opacity: 1;
    }
